.banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 339px);
    background: url(../img/banner/banner-1200-high.jpg) no-repeat top / cover;
}

.banner__titulo {
    color: var(--branco);
    font-size: 81px;
    text-align: center;
    position: absolute;
    font-family: var(--fonte-titulo);
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1024px) {
    .banner {
        height: 35vh
    }

    .banner__titulo {
        font-size: 55px;
    }
}

@media screen and (max-width: 768px) {
    .banner__titulo {
        font-size: 48px;
    }
}

@media screen and (max-width: 440px) {
    .banner__titulo {
        font-size: 38px;
        line-height: 58px;
    }
}